<div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

        <p class="centered"><a href="{{ url_for('.index') }}"><img src="../static/img/ui-danro.jpg" class="img-circle"
                                                                   width="60"></a></p>

        <br>
        <div class="panel-body">
            <a href="#" class="btn btn-success btn-block">发布话题</a>
        </div>

    </ul>
    <!-- sidebar menu end-->
</div>